.content .commonArticle {
    h1 {
        font-size: 17px;
        margin: 10px 0px 0px;
    }

    h2 {
        font-size: 15px;
        margin: 10px 0px 0px;
    }

    p {
        margin: 0px 0px 10px;
    }

    ul {
        list-style: disc outside;
        margin-left: 20px;
    }

    .newsDate{
        margin: 0px 0px 10px ;
        float: right;
    }
}