label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="url"], textarea {
    width: 100%;
    max-width: 100%;
    border: 0px;
    min-height: 20px;
}

input[type="submit"], input[type="reset"] {
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 0px 10px;
    @include corner-round-all(10px);
    font-size: 11px;
}

input[type="submit"] {
    background-color: #FF8800;
    color: #000000;
    border: 1px solid #888888;
}

.formBlock {
    h1 {
        input {
            border: 0px;
            height: 40px;
            font-size: 35px;
            margin-bottom: 10px;
            letter-spacing: 1px;
            font-weight: bold;
            background: transparent;
            background-color: rgba(255, 255, 255, 0.4);
        }
        sub {
            font-size: 13px;

            input {
                height: 20px;
                font-size: 13px;
                font-weight: normal;
            }
        }
    }

    .formRow {
        min-height: 20px;
        margin-top: 10px;
        &.right {
            text-align: right;
        }
    }

    .w3-10 {
        width: 30%;
    }
}