.content .memberUnits {
    .block {
        height: 180px;
        background-image: url(/images/default-member.png);
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        color: #333333;
        text-decoration: none;

        &:hover {
            color: #000000;

            .caption {
                background-image: -webkit-gradient(linear,
                    left top,
                    left bottom,
                    from(rgba(255,255,255,0.75)),
                    to(rgba(180,180,180,0.75)));
                background-image: -moz-linear-gradient(
                    center top,
                    rgba(255,255,255,0.75) 0%,
                    rgba(180,180,180,0.75) 100%);
            }
        }

        &.female {
            background-image: url(/images/default-member-female.png);
        }

        .caption {
            position: absolute;
            bottom: 0px;
            margin: 0px 10px;
            width: 118px;
            background-color: #DDDDEE;
            background-color: rgba(255,255,255,0.75);
            text-align: center;
            border-radius: 10px 10px 0px 0px;
            -moz-border-radius: 10px 10px 0px 0px;
            -webkit-border-radius: 10px 10px 0px 0px;
            line-height: 17px;

            h5 {
                text-align: center;
            }

            p {
                font-size: 9px;
                line-height: 15px;
                margin-top: 0px;
            }
        }
    }
}