.content .pageHeader {
    h1 {
        line-height: 40px;
        font-size: 35px;
        margin-bottom: 10px;

        img.projectlodgeLogo {
            display: inline-block;
            margin-bottom: -11px;
        }
    }

    h2 {
        line-height: 30px;
        font-size: 25px;
        margin-top: 30px;
    }
}