.bundle
db/*.sqlite3
log/*.log
tmp/**/*
nbproject
nbproject/*
config/database.yml
*.lock
*.pid
*.log
*.swp
public/stylesheets/*.css
coverage
coverage/*
db/schema.rb
.idea
.idea/*
railcoach.ids
/spork
