#
# rails specific 
#
/.bundle
/db/*.sqlite3
/log/*.log
/config/database.yml
/db/schema.rb

#
# temporary directories and caches
#
/tmp
*.pid
*.log
*.swp
*~
/coverage

#
# IDE
#
/nbproject

#
# Other
#
/public/stylesheets/*.css
*.sass-cache
/.idea
/railcoach.ids
/test
/ZenTest
