@mixin corner-round-all($size) {
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin corner-round-bottom($size) {
    border-radius: 0px 0px $size $size;
    -moz-border-radius: 0px 0px $size $size;
    -webkit-border-radius: 0px 0px $size $size;
}

@mixin corner-round-left($size) {
    border-radius: $size 0px 0px $size;
    -moz-border-radius: $size 0px 0px $size;
    -webkit-border-radius: $size 0px 0px $size;
}

@mixin corner-round-right($size) {
    border-radius: 0px $size $size 0px;
    -moz-border-radius: 0px $size $size 0px;
    -webkit-border-radius: 0px $size $size 0px;
}