/* style base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    overflow-y: scroll;
}
body {
    line-height: 20px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    background-color: #BBBBCC;
    text-align: justify;
    background-image: -webkit-gradient(
      radial, 
      50% 0%,
      0,
      50% 0%,
      800,
      from(#FFFFFF),
      to(#BBBBBB)
    );
    background-image: -moz-radial-gradient(
      50% 0% 270deg,
      circle cover,
      #FFFFFF 0%,
      #BBBBBB 800px
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.break {
    clear: both;
}

.canvas {
}

.header {
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    margin: 0px auto;
    border-top: 5px solid #FF8800;
    border-bottom: 2px solid #000000;
    background-color: #111111;
    background-image: -webkit-gradient(linear, 
        left top,
        left bottom,
        from(#222222),
        color-stop(0.5, #666666),
        color-stop(0.5, #111111),
        to(#555555));
    background-image: -moz-linear-gradient(
        center top,
        #222222 0%,
        #666666 50%,
        #111111 50%,
        #555555 100%);
    background-repeat: no-repeat;
    color: #FFFFFF;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
}

.header > .spacer {
    position: relative;
    width: 980px;
    margin: 0px auto;
}

.header .logo {
    position: absolute;
    top: 3px;
    right: 0px;
}

.header ul.navigation {
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
}

.header ul.navigation li {
    float: left;
}

.header ul.navigation li a {
    display: block;
    padding: 10px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.header ul.navigation li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.header ul.navigation li.opened {
    border-bottom: 2px solid #FFFFFF;
}

.content {
    width: 960px;
    margin: 0px auto;
    padding: 55px 0px 35px 0px;
}

.content.gridlayout {
    clear: both;
}

.content.gridlayout .row {
    clear: both;
}

.content.gridlayout .column {
    float: left;
    overflow: hidden;
}

.content.gridlayout .column.col1-1 {
    width: 960px;
}

.content.gridlayout .column.col1-2 {
    width: 480px;
}

.content.gridlayout .column.col1-3 {
    width: 320px;
}

.content.gridlayout .column.col2-3 {
    width: 640px;
}

.content.gridlayout .column.col1-4 {
    width: 240px;
}

.content.gridlayout .column.col3-4 {
    width: 720px;
}

.content.gridlayout .column.col1-5 {
    width: 192px;
}

.content.gridlayout .column.col2-5 {
    width: 384px;
}

.content.gridlayout .column.col3-5 {
    width: 576px;
}

.content.gridlayout .column.col4-5 {
    width: 768px;
}

.content.gridlayout .column.col1-6 {
    width: 160px;
}

.content.gridlayout .column.col5-6 {
    width: 800px;
}

.content.gridlayout .column.col1-8 {
    width: 120px;
}

.content.gridlayout .column.col3-8 {
    width: 360px;
}

.content.gridlayout .column.col5-8 {
    width: 600px;
}

.content.gridlayout .column.col7-8 {
    width: 840px;
}

.content.gridlayout .column.col1-10 {
    width: 96px;
}

.content.gridlayout .column.col3-10 {
    width: 288px;
}

.content.gridlayout .column.col7-10 {
    width: 672px;
}

.content.gridlayout .column.col9-10 {
    width: 862px;
}

.content.gridlayout .column.col1-12 {
    width: 80px;
}

.content.gridlayout .column.col5-12 {
    width: 400px;
}

.content.gridlayout .column.col7-12 {
    width: 560px;
}

.content.gridlayout .column.col9-12 {
    width: 720px;
}

.content.gridlayout .column.col11-12 {
    width: 880px;
}

.content.gridlayout .column .spacer {
    margin: 10px;
}

.content.gridlayout.visible .column .spacer {
    background-color: rgba(0,0,0,0.1);
}

.content.gridlayout .column .block {
    border: 1px solid #AAAAAA;
    background-color: #DDDDEE;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content.gridlayout .column .gridSpaced {
    padding: 15px;
}

.content.gridlayout .column .gridSpaced  h1{
    margin: 20px 0px;
}
.content .pageHeader h1 {
    line-height: 40px;
    font-size: 35px;
    margin-bottom: 10px;
}

.content .pageHeader h2 {
    line-height: 30px;
    font-size: 25px;
    margin-top: 30px;
}

.content .pageHeader h1 img.freefoundryLogo {
    display: inline-block;
    margin-bottom: -11px;
}

.content .commonArticle h1 {
    font-size: 17px;
    margin: 10px 0px 0px;
}

.content .commonArticle h2 {
    font-size: 15px;
    margin: 10px 0px 0px;
}

.content .commonArticle p {
    margin: 0px 0px 10px;
}

.content .commonArticle ul {
    list-style: disc outside;
    margin-left: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    z-index: 100;
}

.footer .spacer {
    width: 976px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px 2px 0px 2px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    height: 23px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0px auto;
    padding: 0px 0px;
    background-color: #333333;
    background-image: -webkit-gradient(linear,
        left top,
        left bottom,
        from(#555555),
        color-stop(0.66, #111111),
        to(#444444));
    background-image: -moz-linear-gradient(
        center top,
        #555555 0%,
        #111111 66%,
        #444444 100%);
}

.footer .socialButtons {
    float: left;
    padding-right: 9px;
}

.footer .socialButtons li {
    float: left;
    width: 38px;
    height: 38px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.footer .socialButtons li:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.footer .socialButtons li a {
    display: block;
    padding: 9px;
    width: 20px;
    height: 20px;
}

.footer .socialButtons li a img {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/images/social-sprite.png);
}

.footer .socialButtons li#social_facebook a img {
    background-position: 0px -20px;
}

.footer .socialButtons li#social_linkedin a img {
    background-position: -20px -20px;
}

.footer .socialButtons li#social_twitter a img {
    background-position: -20px 0px;
}

.footer .socialButtons li#social_identica a img {
    background-position: 0px 0px;
}

.content .tripleArticleUnit .block .unit {
    float: left;
    width: 282px;
    border-left: 1px solid #AAAAAA;
}

.content .tripleArticleUnit .block .unit:first-child {
    border-left: 0px;
}

.content .tripleArticleUnit .block .unit h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content .tripleArticleUnit .block .unit .headliner.left {
    float: left;
    margin: 0px 10px 5px 0px;
}

.content .tripleArticleUnit .block .unit .headliner.right {
    float: right;
    margin: 0px 0px 5px 10px;
}

.content .tripleArticleUnit .block .unit p {
    color: #333333;
}

.content .tripleArticleUnit a.readMore {
    display: block;
    text-align: right;
    margin-top: 15px;
    text-decoration: none;
    color: #555555;
    font-weight: bold;
}

.content .tripleArticleUnit a.readMore:hover {
    text-decoration: underline;
    color: #CC0000;
}


.content .newsRotator {
    margin-top: 20px;
}

.content .newsRotator h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content .newsRotator .article {
    border-top: 1px solid #AAAAAA;
}

.content .newsRotator .article:first-child {
    border-top: 0px;
}

.content .newsRotator .article h1 {
    display: inline;
    font-size: 14px;
    margin: 0px;
}

.content .newsRotator .article p {
    display: inline;
    color: #555555;
    font-size: 11px;
}

.content .newsRotator .article .container {
    max-height: 40px;
    overflow: hidden;
}

.content .memberUnits .block {
    height: 180px;
    background-image: url(/images/default-member.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.content .memberUnits .block.female {
    background-image: url(/images/default-member-female.png);
}

.content .memberUnits .block .caption {
    position: absolute;
    bottom: 0px;
    margin: 0px 10px;
    width: 118px;
    background-color: #DDDDEE;
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

.content .memberUnits .block .caption h1 {
    font-size: 11px;
    line-height: 17px;
}

.content .memberUnits .block .caption p {
    font-size: 9px;
    line-height: 15px;
}
.content .newsDate{
    margin: 0px 0px 10px ;
    float: right;
}