.header {
    background-color: #333333;

    ul.navigation li a:hover {
        background-color: #444444;
    }
}

.content {
    .advertizementContainer .blocks {
        background-color: #CCCCCC;
    }

    .newsRotator .articles {
        background-color: #CCCCCC;
    }

    .browserWarning {
        font-size: 11px;
        color: #555555;
        margin-top: 40px;

        a {
            color: #555555;

            &:hover {
                color: #CC0000;
            }
        }
    }
}