@import "_settings";

.content {
    width: $page_width;
    margin: 0px auto;
    padding: 67px 0px 0px 0px;

    &.gridlayout {
        clear: both;

        .row {
            clear: both;
        }

        .column {
            float: left;
            overflow: hidden;

            &.col1-1 {
                width: $page_width;
            }

            &.col1-2 {
                width: $page_width/2;
            }

            &.col1-3 {
                width: $page_width/3;
            }

            &.col2-3 {
                width: $page_width/3*2;
            }

            &.col1-4 {
                width: $page_width/4;
            }

            &.col3-4 {
                width: $page_width/4*3;
            }

            &.col1-5 {
                width: $page_width/5;
            }

            &.col2-5 {
                width: $page_width/5*2;
            }

            &.col3-5 {
                width: $page_width/5*3;
            }

            &.col4-5 {
                width: $page_width/5*4;
            }

            &.col1-6 {
                width: $page_width/6;
            }

            &.col5-6 {
                width: $page_width/6*5;
            }

            &.col1-8 {
                width: $page_width/8;
            }

            &.col3-8 {
                width: $page_width/8*3;
            }

            &.col5-8 {
                width: $page_width/8*5;
            }

            &.col7-8 {
                width: $page_width/8*7;
            }

            &.col1-10 {
                width: $page_width/10;
            }

            &.col3-10 {
                width: $page_width/10*3;
            }

            &.col7-10 {
                width: $page_width/10*7;
            }

            &.col9-10 {
                width: $page_width/10*9;
            }

            &.col1-12 {
                width: $page_width/12;
            }

            &.col5-12 {
                width: $page_width/12*5;
            }

            &.col7-12 {
                width: $page_width/12*7;
            }

            &.col9-12 {
                width: $page_width/12*9;
            }

            &.col11-12 {
                width: $page_width/12*11;
            }

            .block {
                position: relative;
                display: block;
                border: 1px solid #AAAAAA;
                background-color: #DDDDEE;
                background-color: rgba(255, 255, 255, 0.4);
                @include corner-round-all(3px);
                @include shadow-outside(1px, 5px, rgba(0, 0, 0, 0.2));
            }

            .gridSpacer {
                position: relative;
                margin: 20px 10px 10px 10px;
            }

            .gridSpacer:first-child {
                margin: 10px 10px 10px 10px;
            }

            .blockSpacer {
                padding: 15px;

                .blockTools {
                    top: 15px;
                    right: 15px;
                }
            }
        }

        .blockTools {
            position: absolute;
            top: 0px;
            right: 0px;
            display: none;
        }

        *:hover > .blockTools {
            display: block;
        }

        &.visible .column .gridSpacer {
            background-color: rgba(0,0,0,0.1);
        }
    }

    a {
        color: #CC0000;
        text-decoration: none;

        &:hover {
            color: #000000;
            text-decoration: underline;
        }
    }
}

.exhibition .content {
    padding: 10px 0px 0px 0px;
}
