.content {
    width: 960px;
    margin: 0px auto;
    padding: 67px 0px 0px 0px;

    a {
        color: #CC0000;
        text-decoration: none;

        &:hover {
            color: #000000;
            text-decoration: underline;
        }
    }
}

.gridlayout {
    clear: both;

    .row {
        clear: both;
    }

    .column {
        float: left;

        &.col1-1 {
            width: 100%;
        }

        &.col1-2 {
            width: 50%;
        }

        &.col1-3 {
            width: 33.33%;
        }

        &.col2-3 {
            width: 66.67%;
        }

        &.col1-4 {
            width: 25%;
        }

        &.col3-4 {
            width: 75%;
        }

        &.col1-5 {
            width: 20%;
        }

        &.col2-5 {
            width: 40%;
        }

        &.col3-5 {
            width: 60%;
        }

        &.col4-5 {
            width: 80%;
        }

        &.col1-6 {
            width: 16.67%;
        }

        &.col5-6 {
            width: 83.33%;
        }

        &.col1-8 {
            width: 12.5%;
        }

        &.col3-8 {
            width: 37.5%;
        }

        &.col5-8 {
            width: 62.5%;
        }

        &.col7-8 {
            width: 87.5%;
        }

        &.col1-10 {
            width: 10%;
        }

        &.col3-10 {
            width: 30%;
        }

        &.col7-10 {
            width: 70%;
        }

        &.col9-10 {
            width: 90%;
        }

        &.col1-12 {
            width: 8.33%;
        }

        &.col5-12 {
            width: 41.67%;
        }

        &.col7-12 {
            width: 58.33%;
        }

        &.col11-12 {
            width: 91.67%;
        }

        .block {
            position: relative;
            display: block;
            border: 1px solid #AAAAAA;
            background-color: #DDDDEE;
            background-color: rgba(255, 255, 255, 0.4);
            @include corner-round-all(3px);
            @include shadow-outside(1px, 5px, rgba(0, 0, 0, 0.2));
        }

        .gridSpacer {
            position: relative;
            margin: 20px 10px 10px 10px;
        }

        .gridSpacer:first-child {
            margin: 10px 10px 10px 10px;
        }

        .blockSpacer {
            padding: 15px;

            .blockTools {
                top: 15px;
                right: 15px;
            }
        }
    }

    .blockTools {
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
    }

    *:hover > .blockTools {
        display: block;
    }

    &.visible .column .gridSpacer {
        background-color: rgba(0,0,0,0.1);
    }
}

.exhibition .content {
    padding: 10px 0px 0px 0px;
}