.exhibition header {
    a {
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .header {
        position: relative;
        top: auto;
        left: auto;
    }

    .articleContainer {
        background-color: #111111;
        background-image: -webkit-gradient(
            radial,
            50% 100%,
            0,
            50% 100%,
            800,
            from(#444444),
            to(#111111)
        );
        background-image: -moz-radial-gradient(
            50% 100% 270deg,
            circle cover,
            #444444 0%,
            #111111 800px
        );
        color: #FFFFFF;
        font-size: 12px;
        line-height: 20px;
        min-height: 245px;

        & > .spacer {
            position: relative;
            width: 980px;
            margin: 0px auto;
            padding: 20px 0px;
        }

        img.projectlodgeLogo {
            display: inline-block;
            margin-bottom: -11px;
        }

        h1 {
            font-size: 31px;
            line-height: 40px;
            font-weight: normal;
        }

        h2 {
            font-size: 20px;
            line-height: 25px;
            font-weight: bold;
            margin-bottom: 9px;
        }

        .description {
            float: left;
            width: 630px;
            margin-left: 20px;

            .column {
                float: left;
                width: 300px;
                margin-right: 15px;
            }

            p {
                margin-top: 10px;
            }
        }

        .authenticationWidget {
            margin-right: 20px;
            float: right;
            width: 310px;
            .block {
                background-color: #333333;
                border: 1px solid #444444;
                padding: 14px;
                @include shadow-inset(10px, 200px, rgba(0, 0, 0, 0.8));
            }
        }
    }
}

.header {
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    margin: 0px auto;
    border-top: 5px solid #FF8800;
    border-bottom: 2px solid #000000;
    background-color: #000000;
    background-image: -webkit-gradient(linear,
        left top,
        left bottom,
        from(#000000),
        to(#333333));
    background-image: -moz-linear-gradient(
        center top,
        #000000 0%,
        #333333 100%);
    background-repeat: no-repeat;
    color: #FFFFFF;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;

    & > .spacer {
        position: relative;
        width: 980px;
        margin: 0px auto;
    }

    .logo {
        position: absolute;
        top: 8px;
        right: 20px;
    }

    ul.navigation {
        font-weight: bold;
        position: absolute;
        top: 0px;
        left: 0px;

        & > li {
            float: left;
            position: relative;

            &.opened {
                border-bottom: 2px solid #FFFFFF;
            }

            &.special {
                font-style: italic;
                & > a {
                    color: #8888FF;
                }
            }

            &:hover {
                border-bottom: 2px solid #FF8800;

                & > a {
                    background-image: -webkit-gradient(linear,
                        left top,
                        left bottom,
                        from(rgba(255, 255, 255, 0)),
                        color-stop(0.25, rgba(255, 255, 255, 0)),
                        to(rgba(255, 255, 255, 0.2)));
                    background-image: -moz-linear-gradient(
                        center top,
                        rgba(255, 255, 255, 0) 25%,
                        rgba(255, 255, 255, 0.2) 100%);
                }

                & > ul {
                    display: block;
                }
            }

            & > a {
                display: block;
                padding: 0px 20px;
                line-height: 50px;
                color: #FFFFFF;
                text-decoration: none;
            }

            & > ul {
                display: none;
                position: absolute;
                top: 52px;
                background-color: rgba(0,0,0,0.8);
                color: #FFFFFF;
                white-space: nowrap;
                font-weight: normal;
                @include corner-round-bottom(5px);

                &.columns-1 {
                    width: 192px;
                }

                &.columns-2 {
                    width: 384px;
                }

                &.columns-3 {
                    width: 576px;
                }

                &.columns-4 {
                    width: 768px;
                }
            }

            li.column {
                float: left;
                padding: 10px;
                width: 172px;

                h1 {
                    text-transform: uppercase;
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.5);
                }

                a {
                    display: block;
                    color: #FFFFFF;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                        color: #FF8800;
                    }
                }
            }
        }
    }
}

.ie6, ie7, ie8 {
    .header {
        background-color: #333333;

        ul.navigation li a:hover {
            background-color: #444444;
        }
    }
}