.sitemap {
    width: 960px;
    margin: 0px auto;
    padding: 10px 0px 25px 0px;
    font-size: 12px;

    ul.main > li {
        padding: 20px 10px;
        float: left;
        width: 219px;
        border-left: 1px solid #AAAAAA;
        color: #444444;

        &:first-child {
            width: 220px;
            border-width: 0px;
        }

        a {
            color: #666666;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: #CC0000;
            }
        }

        h1 {
            font-size: 13px;
        }
    }
}

.ie6, .ie7, .ie8 {
    .browserWarning {
        font-size: 11px;
        color: #555555;
        margin-top: 40px;

        a {
            color: #555555;

            &:hover {
                color: #CC0000;
            }
        }
    }
}