.toolbar {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #000000;
    background-color: #000000;
    background-image: -webkit-gradient(linear,
        left top,
        left bottom,
        from(#333333),
        to(#000000));
    background-image: -moz-linear-gradient(
        center top,
        #333333 0%,
        #000000 100%);
    line-height: 25px;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
        font-size: 12px;
        text-decoration: none;
        padding: 0px 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        &.right {
            float: right;
        }

        &.left {
            float: left;
        }

        li {
            float: left;
            height: 25px;
            margin: 0px;

            a {
                display: block
            }
        }
    }
}