<label for="first_name">First name:</label>
<%= f.text_field :first_name %>
<label for="last_name">Last name:</label>
<%= f.text_field :last_name %>
<%= submit_tag submit_label %><br />
<%= link_to 'Back', users_path %>