<p>
  <label for="username">Username:</label>
  <%= user.text_field :username %>
</p>
<p>
  <label for="password">Password:</label>
  <%= user.password_field :password %>
</p>
<p>
  <label for="password_confirmation">Re-enter password</label>
  <%= user.password_field :password_confirmation %>
</p>