
<div class="row projectUnits">
  <div class="column col1-2">
    <div class="gridSpacer block blockSpacer">
      <h1><%= @user.profile.fullname %></h1>
      <p>
        <%= render :partial => 'user'%>
      </p>
      <div class="footer">
        <%= link_to 'Back', user_path %>
      </div>
    </div>
  </div>
  <div class="break"></div>
</div>
