<div class="row projectUnits commonArticle">
  <div class="column col1-2">
    <div class="spacer block gridSpaced">
      <h1><%= @profile.fullname %></h1>
      <p>
        <%= render :partial => 'profile'%>
      </p>
      <div class="footer">
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
  <div class="break"></div>
</div>
