<div class="row projectUnits">
  <div class="column col1-4">&nbsp;</div>
  <div class="column col1-2">
    <div class="gridSpacer block blockSpacer">
      <h1><%= @profile.fullname %></h1>
      <%= render :partial => 'profile'%>
      <div class="footer">
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
  <div class="column col1-4">&nbsp;</div>
  <div class="break"></div>
</div>
