<ul>
  <% memberships.each do |membership| %>
    <li><%= link_to membership.user.profile.fullname, user_path(membership.user.id) %>
      <% if membership.join_request? & membership.user.is_owner_of?(membership.project) %>
        <%= link_to 'Accept', project_membership_accept_member_path(:project_id => membership.project.id, :membership_id => membership.id), :method => :put %>
        <%= link_to 'Deny', project_membership_deny_path(:project_id => membership.project.id, :membership_id => membership.id), :method => :put %>
      <% end  %>
    </li>
  <% end %>
</ul>
