<ul>
  <% memberships.each do |membership| %>
    <li><%= link_to membership.user.profile.fullname, membership.user %>
      (<%= role_line(membership) %>)
      <% if membership.join_request? %>
        <%= link_to 'Accept', accept_member_project_membership_path(membership), :method => :put %>
        <%= link_to 'Deny', deny_project_membership_path(membership), :method => :put %>
      <% end  %>
    </li>
  <% end %>
</ul>
