<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Projects', home_projects_path %></li>
    <li><%= link_to image_tag('transparent.gif') + 'New project', '#' %></li>
  </ul>
<% end %>

<h1>New project</h1>

<%= render 'form' %>

<%= link_to 'Back', projects_path %>
