<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <h1>Know more about <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
          <div class="column">
            <p>The projectlodge started as in idea by Bert Meerman in 2009. While talking to others for about a year mid 2010 the first projectlodge meeting was organized. Getting together people from work, fellow students and other that were interested was the basic idea.</p>
            <p>main idea was to get together, share ideas, do cool stuff and just have fun.</p>
          </div>
          <div class="column">
            <p>After this first meeting the ball really started rolling. New people wanted in, the current name was adopted and the group of people now had a light weight board to support their activities.</p>
            <p>The main values of the organisation are still there. Our goal as an organisation is to enable you in these values.</p>
          </div>
        </article>
      </div>
      <!--  <%= render :partial => 'layouts/authentication_widget' %> -->
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'About', '#' %></li>
  </ul>
<% end %>

<div class="row">
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <h3>Community</h3>
      <p>We think that on your own is just on your own. Doing things with others can become something more than doing it on your own. We feel that a community of people with ideas and skill that come together can result in something great.</p>
      <p>Community for us is not just a mailing list or an online forum with people. We think that meeting face to face regularly adds a lot of value. Therefore we endorse this kind of behavior and have regular meeting within the projects but also with larger local groups.</p>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <h3>Personal growth</h3>
      <p>We feel that the power of one can be a great thing. The influence of many can empower the one to greater heights.</p>
      <p>We try to facilitate in personal growth by bringing people together. Enabling them to do what ever they want to do without the constraints of an employer or profit. Getting in touch with others that might already have experience with what you want to learn is a big plus. This comes with the territory and is really natural in the environment we operate.</p>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <h3>Fun</h3>
      <p>Although most of our values sound pretty serious we do not want to lose our most valuable one, Fun! Having fun with what we're doing is very important to us. Of course now and then there are some things you HAVE to do. But going on holiday is no different.</p>
      <p>Our fun factor is the projects we do, the meetings we organise and the way we organise things. Meeting in a fun environment with fun people doing fun things. Enough fun for you?</p>
    </div>
  </div>
</div>
<div class="break"></div>
