<div class="content gridlayout commonArticle">
  <div class="row">
    <div class="column col1-1">
      <div class="spacer">
        <div class="pageHeader">
          <h1>More about the <img src="/images/freefoundry.png" alt=".freefoundry" class="freefoundryLogo" /></h1>
          <p>The mission of the Foundry is to promote growth, innovation, transparency and openness in the IT industry. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col1-1">
      <div class="spacer block gridSpaced">
        <h2>Experience and Growth</h2>
        <p>We believe that people want to grow. People want to be better at the things they do, they want to learn new things and they want to explore and try out ideas. This growth enables people to change and adapt themselves to new opportunities and possibilities that emerge. Therefore, we try to create a place of growth</p>
      </div>
    </div>
    <div class="column col1-2">
      <div class="spacer block gridSpaced">
        <h2>Appriciation and recognition</h2>
        <p>We believe that people want to be appreciated. People want to be able to share their accomplishments with other, to celebrate their victories. Everybody wants to stand out, wants to have a special place in any group or community. Therefore, we give each member its public a place to show off their accomplicements in the community</p>
      </div>
    </div>
    <div class="column col1-2">
      <div class="spacer block gridSpaced">
        <h2>Exploration and crossing boundries</h2>
        <p>We believe that people want to be explorers. People like to be part of a group or movement that is crossing boundaries and challenging frontiers.</p>
      </div>
    </div>
    <div class="column col1-2">
      <div class="spacer block gridSpaced">
        <h2>Stability and investments</h2>
        <p>We believe that people want to have stability in their lives. People want their lives to be build on solid rock, not quicksand. Stability though, does not come from inertia or inability. Instead, it comes from investments that are sustainable. Only through sustainable efforts can people build an existence that is durable and pleasant in the long term.</p>
      </div>
    </div>
  </div>
  <div class="break"></div>
</div>