<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="gridlayout">
        <article class="row">
          <div class="column col1-1">
            <div class="gridSpacer">
              <h1>boot <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %></h1>
              <p><%= image_tag 'boot-header.png', :style => 'margin-top: 7px;' %></p>
            </div>
          </div>
        </article>
      </div>
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'boot', '#' %></li>
  </ul>
<% end %>

<div class="row">
  <div class="column col1-1">
    <div class="gridSpacer">
      <h1>What is boot <%= image_tag 'projectlodge.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col1-2">
    <div class="gridSpacer">
      <p>It's been more then 2 years since we started to think about the idea that is now called ProjectLodge. We've had 3 gatherings already and in January we will have our 4th. We initiated the ProjectLodge as an informal association. We talked about mission, vision and the statutes and we are ready to look ahead into the future.</p>
      <p>The next step is to make it official!</p>
    </div>
  </div>
  <div class="column col1-2">
    <div class="gridSpacer">
      <p>We already had feedback the last gathering and now we are ready to make the last push. But, we need you to help us make the idea into reality.</p>
      <p>Please join us on December 9th @ the RevSpace in The Hague to have some food and drinks and to talk about making the association official.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col1-2">
    <div class="gridSpacer block blockSpacer">
      <h3>Date-time:</h3>
      <p>December 9th. Doors open at 18:00. Booting starts at 20:00.</p>
      <h3>Location:</h3>
      <p>Revelation Space, The Hague</p>
    </div>
  </div>
  <div class="column col1-2">
    <div class="gridSpacer">
      <iframe width="460" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Stichting+Revelation+Space,+Binckhorstlaan+172,+2516+BG+Den+Haag&amp;aq=0&amp;sll=52.469397,5.509644&amp;sspn=4.3242,11.096191&amp;ie=UTF8&amp;hq=Stichting+Revelation+Space,&amp;hnear=Binckhorstlaan+172,+Binckhorst,+'s-Gravenhage,+Den+Haag,+Zuid-Holland&amp;ll=52.073281,4.338269&amp;spn=0.008441,0.019698&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br />
      <a href="http://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=Stichting+Revelation+Space,+Binckhorstlaan+172,+2516+BG+Den+Haag&amp;aq=0&amp;sll=52.469397,5.509644&amp;sspn=4.3242,11.096191&amp;ie=UTF8&amp;hq=Stichting+Revelation+Space,&amp;hnear=Binckhorstlaan+172,+Binckhorst,+'s-Gravenhage,+Den+Haag,+Zuid-Holland&amp;ll=52.073281,4.338269&amp;spn=0.008441,0.019698&amp;z=15&amp;iwloc=A">View Larger Map</a>
    </div>
  </div>
</div>
<div class="break"></div>
