
<% content_for :breadcrumb do %>
    <ul>
      <li><%= link_to image_tag('transparent.gif') + 'About', '#' %></li>
    </ul>
<% end %>

<div class="row">
  <div class="column col1-2">
    <div class="gridSpacer block blockSpacer">
      <h3>Contact info</h3>
      <p>You can contact us by email: <%= mail_to "info@projectlodge.org" %>. If you'd like more information about .projectlodge, or want to come and visit us on one of the meetings let us know!</p>
      <p>We have frequent meetings in Utrecht, The Hague and Rotterdam. See the map for contact details.</p>
    </div>
  </div>
  <div class="column col1-2">
    <div class="gridSpacer block blockSpacer">
      <iframe width="430" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Stichting+Revelation+Space,+Binckhorstlaan+172,+2516+BG+Den+Haag&amp;aq=0&amp;sll=52.469397,5.509644&amp;sspn=4.3242,11.096191&amp;ie=UTF8&amp;hq=Stichting+Revelation+Space,&amp;hnear=Binckhorstlaan+172,+Binckhorst,+'s-Gravenhage,+Den+Haag,+Zuid-Holland&amp;ll=52.073281,4.338269&amp;spn=0.008441,0.019698&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br />
      <a href="http://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=Stichting+Revelation+Space,+Binckhorstlaan+172,+2516+BG+Den+Haag&amp;aq=0&amp;sll=52.469397,5.509644&amp;sspn=4.3242,11.096191&amp;ie=UTF8&amp;hq=Stichting+Revelation+Space,&amp;hnear=Binckhorstlaan+172,+Binckhorst,+'s-Gravenhage,+Den+Haag,+Zuid-Holland&amp;ll=52.073281,4.338269&amp;spn=0.008441,0.019698&amp;z=15&amp;iwloc=A">View Larger Map</a>
    </div>
  </div>
</div>
<div class="break"></div>
