<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <h1>What is <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
          <div class="column">
            <p>The question should not be what, but who! Linking people together in an open and free environment to do what they like to do. Create musical instruments, collaborate on art pieces, helping out a local causes, plan performances and anything you can imagine. Innovating together in technology and growing personally in knowledge.</p>
          </div>
          <div class="column">
            <p>We as .projectlodge ARE the platform on wich we do innovative, technological and fun projects. Together on Local and Global level. We find each other and collaborate on the future!</p>
            <p>We want to enable the individual to contribute to the world on their own terms, level and field.</p>
          </div>
        </article>
      </div>
      <%= render :partial => 'layouts/authentication_widget' %>
      <div class="break"></div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="column col2-3">
    <div class="gridSpacer">
      <div class="newsRotator">
        <header>
          <h2>Latest news from the community.</h2>
        </header>
        <div class="block">
          <div class="article blockSpacer">
            <article>
              <div class="container">
                <h1>This is a header</h1>
                <p>This is the content blurp of the news item. So no long text but only the basic information in a maximum of two lines of text. This is probably going to be to long so I'll try to keep it as short as I can. Well... not that short as I want this thing to be long and a bit oversized.</p>
              </div>
            </article>
          </div>
          <div class="article blockSpacer">
            <article>
              <div class="container">
                <h1>This is a header</h1>
                <p>This is the content blurp of the news item. So no long text but only the basic information in a maximum of two lines of text. This is probably going to be to long so I'll try to keep it as short as I can. Well... not that short as I want this thing to be long and a bit oversized.</p>
              </div>
            </article>
          </div>
          <div class="article blockSpacer">
            <article>
              <div class="container">
                <h1>This is a header</h1>
                <p>This is the content blurp of the news item. So no long text but only the basic information in a maximum of two lines of text. This is probably going to be to long so I'll try to keep it as short as I can. Well... not that short as I want this thing to be long and a bit oversized.</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer">
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 3,
          interval: 6000,
          width: 'auto',
          height: 172,
          theme: {
            shell: {
              background: 'rgba(255,255,255,0.2)',
              color: '#000000'
            },
            tweets: {
              background: 'rgba(255,255,255,0.5)',
              color: '#333333',
              links: '#dd7700'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: false,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('projectlodge').start();
      </script>
    </div>
  </div>
</div>
<div class="row" id="ie_fallback"></div>
<script type="text/javascript">
  <!--
  if (jQuery.browser.msie){
    document.getElementById('ie_fallback').innerHTML = '<div class="browserWarning">Currently you are using Internet Explorer. The site will be working properly for you. Users with an HTML5 compatible browser will get a better experience on this website. We as the .projectlodge would like to advize you to use a modern browser. As an open-source community we obviously would like to point you to the <a href="http://www.firefox.com/">Mozilla Firefox</a> and <a href="http://chrome.google.com/">Google Chrome</a> browsers.</div>';
  }
  //-->
</script>
<div class="break"></div>