<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <div class="column">
<h3>What is <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %> ?</h3>
            <p>The question should not be what, but who! Linking people together in an open and free environment to do what they like to do.</p>
          </div>
          <div class="column">
            <p> Create musical instruments, collaborate on art pieces, helping out a local causes, plan performances and anything you can imagine. Innovating together in technology and growing personally in knowledge.</p>
          </div>
          <div class="column">
            <p>We as .projectlodge ARE the platform on wich we do innovative, technological and fun projects. Together on Local and Global level. We find each other and collaborate on the future!</p>
            <p style="display:none">We want to enable the individual to contribute to the world on their own terms, level and field.</p>
          </div>
        </article>
      </div>
      <div class="break"></div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
	    <h3>Projects</h3>
	    <p>Here you can initiate a new project or read about the awesome projects people are already working on. Are you looking for a fun way to spend your time and learn a thing or two? Or do you have a great idea, but do you lack some of the skills needed to bring your plan to fruition? Then this is the place to go! Start or join a project, and get cracking!</p>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
	<h3>People</h3>
	<p>Here you can meet the people involved with ProjectLodge, or create your own account. If you have started a project and are now looking for people to help you, or if you want to edit your personal settings, this is the place to go! Join up or look for people to help you, and get cracking!</p>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
	    <h3>Organization</h3>
	    <p>Here you can find information on the ProjectLodge organization, as well as information on the main ProjectLodge-Project itself. If you would like to know more about the philosophy of ProjectLodge, or want to get in touch with the people behind the Project, this is the place to go! Read about us, or send us a message, and get cracking!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col1-2">
    <div class="gridSpacer">
      <div class="newsRotator">
        <header>
          <h2>Latest news from the community.</h2>
        </header>
        <div class="block">
          <div class="article blockSpacer">
            <article>
              <div class="container">
                <h1>BOOT party</h1>
		<p>At the <a href=/boot>BOOT party</a> we launched the association. Fifteen people signed up as members.</p>
              </div>
            </article>
          </div>
          <div class="article blockSpacer">
            <article>
              <div class="container">
                <h1>Statutes review</h1>
		<p>The statutes were presented after a major rewrite, and we asked for feedback.</p>
              </div>
            </article>
          </div>
          <div class="article blockSpacer">
            <article>
              <div class="container">
                <h1>Technival</h1>
                <p>We demonstrated the Laserharp at Technival, a fancy fair of technology organised by OGD.</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column col1-2">
    <div class="gridSpacer block twitterBlock" id="organization_twitter">
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
          new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 12,
              interval: 30000,
              width: 568,
              height: 178,
              theme: {
                  shell: {
                      background: 'rgba(0,0,0,0)',
                      color: '#000000'
                  },
                  tweets: {
                      background: 'rgba(0,0,0,0)',
                      color: '#000000',
                      links: '#CC0000'
                  }
              },
              features: {
                  scrollbar: true,
                  loop: false,
                  live: false,
                  behavior: 'all'
              }
          }).render().setUser('projectlodge').start();
      </script>
    </div>
  </div>
</div>
<div class="row" id="ie_fallback"></div>
<script type="text/javascript">
  <!--
  if ($.browser.msie){
    document.getElementById('ie_fallback').innerHTML = '<div class="browserWarning">Currently you are using Internet Explorer. The site will be working properly for you. Users with an HTML5 compatible browser will get a better experience on this website. We as the .projectlodge would like to advize you to use a modern browser. As an open-source community we obviously would like to point you to the <a href="http://www.firefox.com/">Mozilla Firefox</a> and <a href="http://chrome.google.com/">Google Chrome</a> browsers.</div>';
  }
  //-->
</script>
<div class="break"></div>
