<div class="row">
  <div class="column col1-1">
    <div class="spacer">
      <div class="pageHeader">
        <h1>The members of the <img src="/images/freefoundry.png" alt=".freefoundry" class="freefoundryLogo" /></h1>
      </div>
    </div>
  </div>
</div>
<div class="row memberUnits">
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/jooste.jpg)">
        <figcaption>
          <div class="caption">
            <h1>Joost Elfering</h1>
            <p>Web- designer/developer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/jasperf.jpg)">
        <figcaption>
          <div class="caption">
            <h1>Jasper Froeling</h1>
            <p>Software Developer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block female">
        <figcaption>
          <div class="caption">
            <h1>Maartje de Jonge</h1>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/jeroenl.jpg)">
        <figcaption>
          <div class="caption">
            <h1>Jeroen van Lier</h1>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block female">
        <figcaption>
          <div class="caption">
            <h1>Claire Lotion</h1>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block">
        <figcaption>
          <div class="caption">
            <h1>Nick van Manen</h1>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block">
        <figcaption>
          <div class="caption">
            <h1>Bert Meerman</h1>
            <p>Software Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/kanarip.png)">
        <figcaption>
          <div class="caption">
            <h1>Jeroen van Meeuwen</h1>
            <p>Free software advocate</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block">
        <figcaption>
          <div class="caption">
            <h1>Lennaert Meijvogel </h1>
            <p>Software Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block">
        <figcaption>
          <div class="caption">
            <h1>Jauco Noordzij</h1>
            <p>Software Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/roelando.png)">
        <figcaption>
          <div class="caption">
            <h1>Roeland van Ochten</h1>
            <p>Infrastructure Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block">
        <figcaption>
          <div class="caption">
            <h1>Emanuel Rietveld</h1>
            <p>Sysadmin</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/zaheers.jpg)">
        <figcaption>
          <div class="caption">
            <h1>Zaheer Soebhan</h1>
            <p>Software Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/tobiv.jpg)">
        <figcaption>
          <div class="caption">
            <h1>Tobi Vollebregt</h1>
            <p>Software Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="column col1-6">
    <figure>
      <div class="spacer block" style="background-image: url(/images/members/timonv.jpg)">
        <figcaption>
          <div class="caption">
            <h1>Timon Vonk</h1>
            <p>Web Engineer</p>
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
</div>
<div class="row">
  <div class="column col1-1">
    <div class="spacer">
      <div class="pageHeader">
        <h2>How do I become a member?</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col1-2">
    <div class="spacer">text about joining</div>
  </div>
  <div class="column col1-2">
    <div class="spacer">text about joining</div>
  </div>
</div>
<div class="break"></div>