<div class="row">
  <div class="column col1-1">
    <div class="gridgridSpacer">
      <h1>What is happening in the <%= image_tag 'projectlodge.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col2-3">
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>23 July 2010, Utrecht</p>
      </div>
      <h3>.projectlodge website - Meeting 3 GIT server configuration</h3>
      <p>text</p>
    </div>
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>16 July 2010, Delft</p>
      </div>
      <h3>.projectlodge website - Meeting 2 Preview development</h3>
      <p>text</p>
    </div>
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>9 July 2010, Utrecht</p>
      </div>
      <h3>.projectlodge website - Meeting 1 Dividing teams and brainstrom</h3>
      <p>text</p>
    </div>
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>3 July 2010, <a href src="http://revelationspace.nl">Revelation Space </a></p>
      </div>
      <h3>Foundation of the .projectlodge</h3>
      <p>text</p>
      <h4>Projects presented:</h4>
      <ul>
        <li>projectlodge Website</li>
        <li>All ePost</li>
        <li>CBAC: The Rails Barrier</li>
        <li>Laserharp</li>
      </ul>

    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <p>Currently the news blog is manually updated. As you might see this is a work in progress!</p>
      <p>Thank you for you understanding.</p>
    </div>
  </div>
</div>
<div class="break"></div>