<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <h1>What's up at the <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
          <div class="column">
            <p>text</p>
          </div>
          <div class="column">
            <p>text</p>
          </div>
        </article>
      </div>
      <%= render :partial => 'layouts/authentication_widget' %>
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'News', '#' %></li>
  </ul>
<% end %>

<div class="row">
  <div class="column col2-3">
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>May 1st 2011, Delft, Roeland van Ochten</p>
      </div>
      <h3>The BETA site is live!</h3>
      <p>Today we launched the first beta version of the projectlodge.org website. Development continues and will produce a couple more beta versions before the actual release. After the release we will develop the site further in a "Development, Testing, Acceptance, Production" (DTAP) fashion, where the A(cceptance) will be the future beta versions.</p>
      <p>The Railcoach project was started in July 2010 with he creation of the projectlodge website as it's goal. Now this project has matured to the point we'd like to show it to the world. We want to run a continuous development cycle where we want to push out update rapidly. Updating the site piece by piece. Expect the BETA to become live relatively soon.</p>
    </div>
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>16 July 2010, Delft</p>
      </div>
      <h3>Founding of the association</h3>
      <p>text</p>
    </div>
    <div class="gridSpacer block blockSpacer">
      <div  class="newsDate">
        <p>9 July 2010, Utrecht</p>
      </div>
      <h3>Half year meeting</h3>
      <p>text</p>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <p>Currently the news blog is manually updated. As you might see this is a work in progress!</p>
      <p>Thank you for you understanding.</p>
    </div>
  </div>
</div>
<div class="break"></div>
