<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <h1>What's up at the <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
          <div class="column">
            <p><em>Everything we do becomes so much more valuable if we share it with others.</em> - Joost Elfering</p>
            <p>The projectlodge is always on the move. If it is a new event, a new release or just an update from the community we like to share that with you. We are an open community and publishing is our main channel to keep anyone who is interested up-to-date.</p>
          </div>
          <div class="column">
            <p>We do not just publish community news. Projects and indivitials can take the stage as well. As a community we pride ourselves in the work by the individual. Therefore we do not only publish community news here, but also personal news.</p>
            <p>Publishing to share ideas, educate, release a product and post an community update, it's all here!</p>
          </div>
        </article>
      </div>
      <%= render :partial => 'layouts/authentication_widget' %>
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'News', '#' %></li>
  </ul>
<% end %>

<div class="row blogArticles">
  <div class="column col2-3">
    <div class="gridSpacer block blockSpacer">
      <article>
        <div class="newsDate">May 1st 2011, Delft, Roeland van Ochten</div>
        <h3>The BETA site is live!</h3>
        <p>Today we launched the first beta version of the projectlodge.org website. Development continues and will produce a couple more beta versions before the actual release. After the release we will develop the site further in a "Development, Testing, Acceptance, Production" (DTAP) fashion, where the A(cceptance) will be the future beta versions.</p>
        <p>The Railcoach project was started in July 2010 with he creation of the projectlodge website as it's goal. Now this project has matured to the point we'd like to show it to the world. We want to run a continuous development cycle where we want to push out updates rapidly. Updating the site piece by piece. Expect the BETA to become live relatively soon.</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div  class="newsDate">March 27th 2011, Rotterdam, Joost Elfering</div>
        <h3>Founding of the association</h3>
        <p>We have been talking about this during the half year talk. The founding of the projectlodge as a foundation or association. Today we came to concensus with the board and project coördinators about how we want to found the organization.</p>
        <p>Our plan is to start the organization as a association (Dutch: vereniging) based in the netherlands. An association means that we got to have basic rules (statuten) and we need to have members. We choose this form because it is easiest for us to create and allows for changes in the future when we need to.</p>
        <p>Members means that we got to have members that pay an annual fee to have a vote on association issues. Organization membership only gives the member voting rights. Other people that want to be involved in the projects but do not want to be a paying member of the organization are allowed to do this. The only diffrerence from paying members is that they do not have vote rights.</p>
        <p>This is a proposal that will be presented and discussed during the next half year meeting.</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div class="newsDate">January 29th 2011, The Hague, Roeland van Ochten</div>
        <h3>Second half yearly meeting</h3>
        <p>The half yearly meetings are the opportunity to present the results from various projects, to give lightning talks to probe for interest in new (concept) projects and, of course, to socialize and chat.</p>
        <p>Although mutch has happened during the half year the group has been together, the organization has stood still for a while. With this meeting the board has shown new commitment by taking on a new board member and changing strategy. The board will work together with the project coördinators to work towards the next half yearly meeting.</p>
        <p>All the projects presented their progress during the meeting. The project coördinators gather their progress and presented together with project contributors.</p>
        <p>Read the full report on the meeting on <a href="http://yopefonic.wordpress.com/2011/02/02/projectlodge-meeting-january-2011/">Joost's blog</a>.</p>
      </article>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <p>Currently the news blog is manually updated. As you might see this is a work in progress!</p>
      <p>Thank you for you understanding.</p>
    </div>
  </div>
</div>
<div class="break"></div>
