<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <h1>What's up at the <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
          <div class="column">
            <p><em>Everything we do becomes so much more valuable if we share it with others.</em> - Joost Elfering</p>
            <p>The projectlodge is always on the move. If it is a new event, a new release or just an update from the community we like to share that with you. We are an open community and publishing is our main channel to keep anyone who is interested up-to-date.</p>
          </div>
          <div class="column">
            <p>We do not just publish community news. Projects and indivitials can take the stage as well. As a community we pride ourselves in the work by the individual. Therefore we do not only publish community news here, but also personal news.</p>
            <p>Publishing to share ideas, educate, release a product and post an community update, it's all here!</p>
          </div>
        </article>
      </div>
      <%= render :partial => 'layouts/authentication_widget' %>
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'News', '#' %></li>
  </ul>
<% end %>

<div class="row blogArticles">
  <div class="column col2-3">
    <div class="gridSpacer block blockSpacer">
      <article>
      <div class="newsDate">September 10th 2011, Delft, Roeland van Ochten</div>
        <h3>Laserharp at Technival</h3>
	<p>Saturday, September 10th was Technival, a fancy fair of technology hosted by OGD. Sharing the area with a number of Xbox stands, Kinect games and a 3D-printer we demonstrated the Laserharp. It was in the same state as during BAM2011S, sound provided by a nice stereo set and an extra item: a Theremin, provided by Bas van der Noordt (B-sting).</p>
	<p>An amazing number of visitors actually put on the white gloves and played a few notes. Some of them asked a lot of questions how the heck the Laserharp actually works which we were happy to explain, aided by status-LEDs, oscilloscope and making the rays visible with haze-in-a-can. A number of them also took a projectlodge minicard with them and we hope some of them will join the Laserharp project.</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div class="newsDate">July 30th 2011, The Hague, Joost Elfering</div>
        <h3>The first Railcoach release</h3>
        <p>Today the Railcoach team had a coding day and we decided to go live! At the moment, the "real" site and beta are the same, but expect new beta versions soon. Since a train wagon won't move by itself we will name the Railcoach releases after railway engines. Starting with Adler, being the first German steam engine (and A the beginning of the alphabet).</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div class="newsDate">July 2nd 2011, The Hague, Roeland van Ochten</div>
        <h3>BAM2011S, the summer meeting</h3>
	<p>Saturday, July the 2nd at RevSpace was the Bi-Annual Meeting 2011 Summer, the third half yearly meeting. After the lunch, Bert gave his Kinect-controlled presentation about the projectlodge. This gimmick carried the message "yes, you can!", and when it matures, the finicky controls will soon be forgotten.</p>
	<p>After the first break we had three more talks. Joost told about the Railcoach project, including the fact the site went live early June. Roeland gave a short talk on the current infrastructure and the planning. Timon and Joost presented a new project: the Tech Event Calendar. It’s goal is to create a single place where to look for upcoming technology-related events.</p>
	<p>After the second break Hans did a lightning talk about electric power economy, especially how apps interfacing with smart power meters can help identify power-hungry household equipment.</p>
	<p>Since there were no others interested in giving lightning talks, the next item was the board presenting the mission/vision statement, the first draft statutes and regulations on elections. A few useful suggestions from the audience were adopted into the mission/vision statement, which was then accepted by acclamation. The audience gave much feedback on the draft statutes, we took notes and decided to do a thorough rewrite.</p>
	<p>The last item on the agenda was tech demonstrations with chats and drinks. Many projects were represented, among which the laserharp got a fair share of attention. Most of the fifteen people present talked nearly until dusk and we all had a pleasant time.</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div class="newsDate">May 1st 2011, Delft, Roeland van Ochten</div>
        <h3>The BETA site is live!</h3>
        <p>Today we launched the first beta version of the projectlodge.org website. Development continues and will produce a couple more beta versions before the actual release. After the release we will develop the site further in a "Development, Testing, Acceptance, Production" (DTAP) fashion, where the A(cceptance) will be the future beta versions.</p>
        <p>The Railcoach project was started in July 2010 with he creation of the projectlodge website as it's goal. Now this project has matured to the point we'd like to show it to the world. We want to run a continuous development cycle where we want to push out updates rapidly. Updating the site piece by piece. Expect the BETA to become live relatively soon.</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div  class="newsDate">March 27th 2011, Rotterdam, Joost Elfering</div>
        <h3>Founding of the association</h3>
        <p>We have been talking about this during the half year talk. The founding of the projectlodge as a foundation or association. Today we came to concensus with the board and project coördinators about how we want to found the organization.</p>
        <p>Our plan is to start the organization as a association (Dutch: vereniging) based in the netherlands. An association means that we got to have basic rules (statuten) and we need to have members. We choose this form because it is easiest for us to create and allows for changes in the future when we need to.</p>
        <p>Members means that we got to have members that pay an annual fee to have a vote on association issues. Organization membership only gives the member voting rights. Other people that want to be involved in the projects but do not want to be a paying member of the organization are allowed to do this. The only diffrerence from paying members is that they do not have vote rights.</p>
        <p>This is a proposal that will be presented and discussed during the next half year meeting.</p>
      </article>
    </div>
    <div class="gridSpacer block blockSpacer">
      <article>
        <div class="newsDate">January 29th 2011, The Hague, Roeland van Ochten</div>
        <h3>Second half yearly meeting</h3>
        <p>The half yearly meetings are the opportunity to present the results from various projects, to give lightning talks to probe for interest in new (concept) projects and, of course, to socialize and chat.</p>
        <p>Although mutch has happened during the half year the group has been together, the organization has stood still for a while. With this meeting the board has shown new commitment by taking on a new board member and changing strategy. The board will work together with the project coördinators to work towards the next half yearly meeting.</p>
        <p>All the projects presented their progress during the meeting. The project coördinators gather their progress and presented together with project contributors.</p>
        <p>Read the full report on the meeting on <a href="http://yopefonic.wordpress.com/2011/02/02/projectlodge-meeting-january-2011/">Joost's blog</a>.</p>
      </article>
    </div>
  </div>
  <div class="column col1-3">
    <div class="gridSpacer block blockSpacer">
      <p>Currently the news blog is manually updated. As you might see this is a work in progress!</p>
      <p>Thank you for you understanding.</p>
    </div>
  </div>
</div>
<div class="break"></div>
