<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Organizations', home_organizations_path %></li>
    <li><%= link_to image_tag('transparent.gif') + @organization.name, organization_path(@organization) %></li>
    <li><%= link_to image_tag('transparent.gif') + 'Edit', '#' %></li>
  </ul>
<% end %>

<%= render 'form' %>