<%# TODO: Needs cleanup, methods to controllers %>

<div id="connectedNetworks">
<h2>Networks you are connected to</h2>
<ul>
<% @connected_networks.each do |network|%>
  <li id="connectedNetwork_<%=network%>"><%= network %></li>
<% end %>
</ul>

<div id="connectableNetworks">
<h2>Networks you can connect</h2>
<ul>
<% @connectable_networks.each do |network|%>
<li>
<li id="connectableNetwork_<%=network%>"><%= link_to network, user_auth_helper_path(network), :class => "networkConnect" %></li>
</li>
<% end %>
</ul>
</div>
