<%# TODO: Needs cleanup, methods to controllers %>

<h2>Networks you are connected to</h2>
<ul>
<% @connected_networks.each do |network|%>
  <%= network %>
<% end %>
</ul>

<h2>Networks you can connect</h2>
