<% unless user_signed_in? %>
<div class="authenticationWidget">
  <div class="block">
    <h2>Pick a network to login:</h2>
    <ul class="networks">
      <% [:google, :facebook, :github, :openid].each do |network| %>
        <li><%= link_to image_tag("networks/#{network.to_s}.png", :title => network.to_s), user_auth_helper_path(network) %></li>
      <% end -%>
    </ul>
    <div class="break"></div>
    <p>Logging in, <a href="#">do you want to know more?</a></p>
  </div>
</div>
<% end -%>