<div class="authenticationWidget">
  <ul>
    <li><%= link_to 'Sign in', '#', :class => 'current' %></li>
    <li><%= link_to 'Register', '#' %></li>
  </ul>
  <div class="block">
    <h2>Come and join in.</h2>
    <p>Create a new account</p>
    <p>Use your:</p>
    <p><%= link_to 'Google account', user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id") %></p>
    <p>facebook account</p>
  </div>
</div>