<div class="authenticationWidget">
  <ul>
    <li><%= link_to 'Sign in', '#', :class => 'current' %></li>
    <li><%= link_to 'Register', '#' %></li>
  </ul>
  <div class="block">
    <h2>Come and join in.</h2>
    <p>Create a new account</p>
    <p>Use your:</p>
    <p><%= link_to 'Google account', user_auth_helper_path(:google) %></p>
    <p>facebook account</p>
  </div>
</div>