<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en" />
<meta name="copyright" content="Creative Commons" />
<meta name="distribution" content="global" />
<meta name="googlebot" content="index,follow" />
<meta name="robots" content="index,follow" />

<meta name="publisher" content=".projectlodge" />
<meta name="Designer" content="Joost Elfering" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<meta http-equiv="imagetoolbar" content="no" />

<title><%= @nav %>.projectlodge</title>

<link rel="shortcut icon" href="/favicon.ico">
<link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />

<%= csrf_meta_tag %>

<%= javascript_include_tag :defaults %>