<div class="sitemap">
  <nav>
    <ul class="main">
      <li>
        <ul>
          <li>sitemap item</li>
          <li>sitemap item</li>
          <li>sitemap item</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>sitemap item</li>
          <li>sitemap item</li>
          <li>sitemap item</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>sitemap item</li>
          <li>sitemap item</li>
          <li>sitemap item</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>sitemap item</li>
          <li>sitemap item</li>
          <li>sitemap item</li>
        </ul>
      </li>
      <div class="break"></div>
    </ul>
  </nav>
</div>