<!doctype html>
<html>
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render :partial => 'layouts/navigation' %>
    </header>
    <div class="content gridlayout">
      <%= yield %>
    </div>
    <footer>
      <%= render :partial => 'layouts/toolbar' %>
    </footer>
  </body>
</html>